modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 24678
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 43245433
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
